@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url('D:\velocity\velocity\project\Phase-4-Project-Testing-and-Deployment-main\Phase 4 project- Testing and deployment\PizzaHub\PizzaHub\wwwroot\media\products\Domino's.jpg')" class="text-center">
    
    <h2  class="display-4">Domino's Pizza </h2>
    <img src="~/media/products/image.jpg" style="border: 2px solid black;" />
    <img src="~/media/products/Domino's.jpg" style="border: 2px solid black;" />
    <img src="~/media/products/Chicken Delight.jpg" style="border: 2px solid black;" />
    <img src="~/media/products/PizzaType.jpg" style="border: 2px solid black;" />
   </div>
